.page-footer {
  background: #f1f1f1;
}

.page-footer__inner {
  display: block;
}

.page-footer__develope {
  padding-top: 22px;
  padding-bottom: 23px;
}

.page-footer__social {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  list-style-type: none;
}

.social__link:hover .logo-social,
.copyright__logo:hover .logo-social {
  fill: #46c1ae;
}

.social__link:active .logo-social,
.copyright__logo:hover .logo-social {
  fill: #bde3dd;
}

.social__item:nth-child(1) {
  margin-left: 57px;
  margin-right: 41px;
}

.social__item:nth-child(2) {
  margin-right: 40px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 56px;
  }

  .page-footer__social {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__develope {
    padding-top: 0;
    padding-bottom: 0;
  }

  .social__item:nth-child(1) {
    margin-left: 113px;
  }
}
