.form__item {
  margin-bottom: 32px;
}

.form__item-size {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .form__item {
    position: relative;
    padding-left: 70px;

    &--row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .caption--legend {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .page-text--required {
    display: inline-block;
  }

  .order .button {
    display: inline-block;
  }

  .form__section--grey {
    background-color: #f1f1f1;
  }
}
