.item-week {
  padding-top: 31px;
}

.item-week__subject {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.item-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  margin-top: 26px;
  margin-bottom: 24px;
}

.item-week__table {
  margin-top: 32px;
  margin-bottom: 25px;
}

.item-week__image {
  display: block;
}

@media (min-width: @tablet-width) {
  .item-week__name {
    display: inline-block;
  }

  .item-week__subject {
    display: inline-block;
  }

  .item-week__text {
    width: 400px;
  }

  .item-week__product {
    position: relative;
  }

  .item-week__image {
    position: absolute;
    top: -240px;
    right: 100px;
  }
}

@media (min-width: @desktop-width) {
  .item-week {
    padding-left: 175px;
    position: relative;
  }

  .item-week__subject {
    position: absolute;
    top: 140px;
    left: 38px;
  }
}
