.item-week {
  padding-top: 31px;
}

.item-week__subject {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.item-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  margin-top: 26px;
  margin-bottom: 24px;
}

.item-week__table {
  margin-top: 32px;
  margin-bottom: 25px;
}

.item-week__image {
  display: block;
}

@media (min-width: @tablet-width) {
  .item-week__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-week__content {
    position: relative;
    padding: 0 260px 0 0;
  }

  .item-week__subject {
    margin: 0;
  }

  .item-week__image {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .item-week {
    padding-left: 175px;
    position: relative;
  }

  .item-week__subject {
    position: absolute;
    top: 140px;
    left: 38px;
  }
}
