.page-footer {
  background: #f1f1f1;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
}

.page-footer__develope {
  padding-top: 22px;
  padding-bottom: 23px;
}

.social__item {
  list-style-type: none;
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

@media (min-width: @tablet-width) {
  .page-footer__social::before {
    content: "";
    width: 102px;
    height: 35px;
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }

  .page-footer__develope {
    display: inline-block;
  }
}
