.production {
  border: 1px solid #ededed;
  margin-bottom: 58px;
}

.production__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.production__text {
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__image {
    order: 0;
    width: 668px;
    height: 455px;
  }

  .production__name {
    order: 1;
  }

  .production__text {
    order: 2;
  }

  .production .button {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .production {
    display: block;
  }

  .production::after {
    content: "";
    clear: both;
    display: block;
  }

  .production__image {
    float: left;
  }

  .production .button {
    display: inline-block;
  }
}
