.production {
  border: 1px solid #ededed;
  margin-bottom: 58px;
}

.production__name {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.production__text {
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .production__image {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    padding-left: 680px;
    position: relative;
  }

  .production__image {
    display: block;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
