.profile__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.profile__nickname {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .profile__nickname {
    display: block;
  }
}
