.promo__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 27px;

  &--interior {
    background: #63d1bb;
  }

  &--toy {
    background: #56c3b2;
  }
}
